* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 2207px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_15 {
  width: 100%;
  height: 73px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_16 {
  width: 55px;
  height: 54px;
  background: url("../images/v4_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 12px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v4_17 {
  width: 132px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 97px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_18 {
  width: 15px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 214px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v4_21 {
  width: 15px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 425px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v4_20 {
  width: 163px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 27px;
  left: 262px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_22 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 470px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v9_2 {
  width: 100%;
  height: 552px;
  background: url("../images/v9_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 1px;
  overflow: hidden;
}
.v9_6 {
  width: 569px;
  height: 551px;
  background: linear-gradient(rgba(217,217,217,0), rgba(0,0,0,1));
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 0px;
}
.v13_3 {
  width: 441px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 174px;
  left: 60px;
  font-family: Inter;
  font-weight: Semi Bold Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v13_4 {
  width: 267px;
  height: 67px;
  background: rgba(80,80,80,1);
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 109px;
  overflow: hidden;
}
.v13_5 {
  width: 252px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 344px;
  left: 136px;
  font-family: Inter;
  font-weight: Semi Bold Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v13_6 {
  width: 104px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 293px;
  left: 110px;
  font-family: Inter;
  font-weight: Semi Bold Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v13_7 {
  width: 181px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 378px;
  left: 241px;
  font-family: Inter;
  font-weight: Semi Bold Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v13_8 {
  width: 422px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 424px;
  left: 39px;
  font-family: Inter;
  font-weight: Semi Bold Italic;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v13_9 {
  width: 157px;
  height: 40px;
  background: rgba(253,22,31,1);
  opacity: 1;
  position: absolute;
  top: 415px;
  left: 388px;
  overflow: hidden;
}
.v13_10 {
  width: 179px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 426px;
  left: 400px;
  font-family: Inter;
  font-weight: Semi Bold Italic;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v13_11 {
  width: 340px;
  height: 56px;
  background: rgba(253,22,31,1);
  opacity: 1;
  position: absolute;
  top: 490px;
  left: 114px;
  border-radius: 50%;
}
.v13_12 {
  width: 274px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 502px;
  left: 163px;
  font-family: Inter;
  font-weight: Semi Bold Italic;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v13_13 {
  width: 484px;
  height: 338px;
  background: url("../images/v13_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 925px;
  left: 53px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v13_14 {
  width: 203px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 691px;
  left: 569px;
  font-family: Inter;
  font-weight: Semi Bold Italic;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v13_15 {
  width: 192px;
  height: 65px;
  background: rgba(253,22,31,1);
  opacity: 1;
  position: absolute;
  top: 881px;
  left: 38px;
  overflow: hidden;
}
.v19_5 {
  width: 192px;
  height: 65px;
  background: rgba(253,22,31,1);
  opacity: 1;
  position: absolute;
  top: 881px;
  left: 652px;
  overflow: hidden;
}
.v13_16 {
  width: 136px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 902px;
  left: 66px;
  font-family: Inter;
  font-weight: Semi Bold Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v13_17 {
  width: 104px;
  color: rgba(255,0,0,1);
  position: absolute;
  top: 846px;
  left: 38px;
  font-family: Inter;
  font-weight: Semi Bold Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v19_6 {
  width: 104px;
  color: rgba(255,0,0,1);
  position: absolute;
  top: 846px;
  left: 652px;
  font-family: Inter;
  font-weight: Semi Bold Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v13_18 {
  width: 228px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1329px;
  left: 181px;
  font-family: Inter;
  font-weight: Semi Bold Italic;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v19_7 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1329px;
  left: 483px;
  font-family: Inter;
  font-weight: Semi Bold Italic;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v13_19 {
  width: 237px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1418px;
  left: 181px;
  font-family: Inter;
  font-weight: Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v19_8 {
  width: 237px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1416px;
  left: 475px;
  font-family: Inter;
  font-weight: Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v13_20 {
  width: 315px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1477px;
  left: 142px;
  font-family: Inter;
  font-weight: Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v19_9 {
  width: 315px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1479px;
  left: 514px;
  font-family: Inter;
  font-weight: Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v13_21 {
  width: 400px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1535px;
  left: 110px;
  font-family: Inter;
  font-weight: Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v19_10 {
  width: 400px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1541px;
  left: 536px;
  font-family: Inter;
  font-weight: Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v13_22 {
  width: 328px;
  height: 99px;
  background: rgba(253,22,31,1);
  opacity: 1;
  position: absolute;
  top: 1633px;
  left: 131px;
  overflow: hidden;
}
.v19_11 {
  width: 328px;
  height: 99px;
  background: rgba(253,22,31,1);
  opacity: 1;
  position: absolute;
  top: 1633px;
  left: 520px;
  overflow: hidden;
}
.v13_23 {
  width: 313px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1662px;
  left: 139px;
  font-family: Inter;
  font-weight: Italic;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v19_12 {
  width: 315px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1662px;
  left: 514px;
  font-family: Inter;
  font-weight: Italic;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v19_2 {
  width: 544px;
  height: 317px;
  background: url("../images/v19_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 946px;
  left: 628px;
  border-top-left-radius: 54px;
  border-top-right-radius: 54px;
  border-bottom-left-radius: 54px;
  border-bottom-right-radius: 54px;
  overflow: hidden;
}
.v19_4 {
  width: 146px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 902px;
  left: 629px;
  font-family: Inter;
  font-weight: Semi Bold Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v19_13 {
  width: 100%;
  height: 346px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 1861px;
  left: 0px;
  overflow: hidden;
}
.v19_14 {
  width: 236px;
  color: rgba(109,109,109,1);
  position: absolute;
  top: 1893px;
  left: 602px;
  font-family: Inter;
  font-weight: Black Italic;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v19_15 {
  width: 434px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2011px;
  left: 531px;
  font-family: Inter;
  font-weight: Black Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
